:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo git@github.com:Incubaid/www_incubaid_mobirise.git
        branch production
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path . 
    }
}

